body {
  margin: 0;
  padding: 0;
  background: #34495e;
  font-family: monospace;
}

#h1-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2c3e50;
  padding: 50px;
  border-radius: 10px;
  border: dashed 5px #415B76;
}

h1 {
  float: left;
  font-size: 40;
  border-bottom: solid 6px;
  margin-bottom: 50px;
  padding: 13px 0;
  color: #2ecc71;
}
