body {
  margin: 0;
  padding: 0;
  background: #34495e;
  font-family: monospace;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2c3e50;
  padding: 50px;
  border-radius: 10px;
  border: dashed 5px #415B76;
}

.form h1 {
  float: left;
  font-size: 40;
  border-bottom: solid 6px;
  margin-bottom: 50px;
  padding: 13px 0;
  color: #2ecc71;

}
.form input {
  width: 90%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: solid 1px;
  text-align: center;
  background: none;
  border: none;
  color: #bdc3c7;
  border: solid 2px #2ecc71;
  border-radius: 20px;
  transition: 250ms;
  outline: none;
}
.form input[type="button"] {
  cursor: pointer;
}
.form input[type="button"]:hover, .form input[type="button"]:focus {
  background: #2ecc71;
  border-radius: 10px;
}

.form input:focus {
  color: white;
  border-radius: 10px;
}
