body {
  margin: 0;
  padding: 0;
  background: #34495e;
  font-family: monospace;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: solid 6px;
  margin-bottom: 50px;
  color: #2ecc71;
}

#navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
