body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background: #282C34;
  color: #ecf0f1;
}

#navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.content {
  margin: 10px;
}

.navbar a.faq {
  background-color: #666;
  color: white;
}
