body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background: #282C34;
  color: #ecf0f1;
}

#navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.content {
  margin: 10px;
}

/* header */
.header {
  padding: 80px;
  text-align: center;
  background: #2ecc71;
  color: #ecf0f1;
}

.header h1 {
  font-size: 40px;
}

.navbar a.home {
  background-color: #666;
  color: white;
}
